{% extends 'base.html.twig' %}
{% block title %}BOOKING{% endblock %}

{% block content %}
    <div class="container">

        <h1 style="text-align: center">Billetterie<small> en ligne</small></h1>
        <div class="well" id="booking-stageone">
            <!-- BreadCrumb-->
            <ol class="breadcrumb" style="text-align: center">
                <li class="active"><a href="{{ path('booking_homepage') }}">Constituer votre panier</a></li>
                <li><a href="#">Informations billets</a></li>
                <li><a href="#">Paiement</a></li>
            </ol>
            <!-- Content-->

            Hello world !!
        </div>
    </div>
{% endblock %}